body{
    margin: 0;
}

.red1{
    background-color: red;
    width: 100px;
    height: 100px;
    display:inline-block;
    position: absolute;
    left: 200px;
    top: 200px;

}

.blue1{
    background-color: blue;
    width: 100px;
    height: 100px;
    display:inline-block;
    position: absolute;
    left: 100px;
    top: 100px;

}

.yellow1{
    background-color: yellow;
    width: 100px;
    height: 100px;
    display:inline-block;
    position: absolute;

}